.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 175px;
    
    &__header {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 0px;
        text-align: center;
        margin-bottom: 75px;
        color: #55A630;        
    }

    &__first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 75px;

        .first-right {
            margin-left: 122px;
            color: #424242;
            order: 1;
        }

        .first-header {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 26px;
        }

        .first-text {
            max-width: 590px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 33px;
            opacity: 0.8;
        }
    }

    .active-img {
        order: 1;
    }

    .active-right {
        margin-left: 0;
        margin-right: 126px;
    }
}